/*Global General Style*/
*{
  font-family: "Lato" !important;
}
li{
  display: inline-block;
}
#big-text{
  font-size: 4em;
}
#color-red{
  color:#ff3333;
}
#bold{
  font-weight: bold;
}
#no-margin{
  margin: 0;
}
.no-border{
  border: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}
.title{text-align: center;}

/*Navigation*/
.navbar{
  border:none;
  margin: 0;
}
.navbar-default{
  background-color: rgba(0, 0, 0, 0) ;
  border-color: rgba(0, 0, 0, 0) ;
}

.nav-sign{
  border:none;
  margin-top: 10%;
}
.nav-sign-modal{width: 30%;}

.nav-sign-modal input{
  margin: 10px 0px;
}
.nav-form-btn{
  margin: 0px 20px;
  width: 40%;
  float: left;
}
.btn-row{
  width: 100%;
  margin: 0 auto;
}
.nav-well{
  border:2px solid #333;
}
.nav-well input:focus{
  border-color: #ff3333;
  box-shadow: inset 0 1px 1px rgba(168, 10, 10, 0.527), 0 0 8px rgba(211, 39, 27, 0.6);
}
.customer-nav .dropdown-menu li{
  width: 100%;
}

/*Header Banner*/
.header-banner{
  height: 550px;
  margin: 0;
  background-image: url("../img/HomeBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#f5f5f5;
  padding: 5% 10%;
}
.header-info,.header-form{
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0% 1%;
  float: left;
}

.header-info h1, .header-banner p{
  font-size: 1.2em;
  font-weight: 300;
  text-align: right;
}

.header-info h1{
  font-size: 3em !important;
}

.header-inf-btn {
  border-radius: 10px;
  background-color: rgba(81, 124, 253, 0.7);
  box-shadow: 0px 0px 30.45px 4.55px rgba(0, 0, 0, 0.91);
  width: 50%;
  height: 60px;
  float: right;
  margin-top: 10px;
  border: none;
}
.home-form .header-inf-btn{
  margin-top: 20px;
  box-shadow: none;
  float: none;
}

.home-form{
  width: 90%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30.45px 4.55px rgba(0, 0, 0, 0.91);
  float: left;
  color: #333;
  padding: 5%;
}
.form-footer{
  text-align: center;
}
.home-form input{
  width: 100%;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  outline: none;
  border: 1px solid #333;
}
label{
  font-size: 16px;
  margin-top: 20px;
  font-weight: 300;
  font-family: "Lato";
}

/*Content*/

.content{
  text-align: center;
  padding: 20px 0%;
  width: 100%;
  background-image: url('../img/contentBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.content .row{
  text-align: center;
}
.explanation img{
  width: 45% !important;
}
.content .explanation{
  margin-top: 20px;
}
.explanation p{
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

/*Testimoniasl*/
.testimonials{
  padding: 50px;
  text-align: center;
  color: #efefef;
  background-image: url("../img/testimonialsBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonials p{
  margin: 30px 0px;
  font-weight: lighter;
  font-style: italic;
}
/*Home Page End*/

/*Consultant Page*/
/*Header*/
.consultant-content, .customer-content{
  background-color: #f5f5f5;
  padding: 40px;
}
.consultant-banner{
  background-image: url('../img/consultantHeaderBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color:#f5f5f5;
  text-align: left;
}
.cons-banner-left{
  text-align: center;
}
.cons-desc{
  margin-top: 10%;
}
.cons-desc h1{
  text-align: center;
}
.consultant-banner img{
  width: 180px;
}

/*Cosnultant Left Side*/
.dashboard{
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
}
.dashboard .text{
  margin-left: 20px;
}
.dashboard .dash-info{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.dashboard .dash-info h1{
  color: #438eff;
  font-size: 3em;
}
.consultant-main{
  background-color: #fff;
  padding: 40px;
}
.section-content{
  margin-top: 20px;
}

.section-content>div>img{
  width: 50%;
  margin: 5% 25%;
}
.section-content h1{
  font-size: 1.5em;
  margin-top: 10px;
  font-weight: normal;
}

/*Consultant Left Side*/
.consultant-raling{
  background-color: #f5f5f5;
}
.consultant-raling-padding{
  background-color: #fff;
  padding: 40px 10px;
  height: 100%;
}
.consultant-suugested>div{
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
}
.consultant-suugested>div:last-child{
  border:none;
}
.consultant-suugested h1,h2,h3,h4,h5,h6{
  margin: 5px;
}
.consultant-suugested img{
  width: 85%;
  border-radius: 50%;
  margin: 5%;
  text-align: center;
}
.suggested-btn{
  background:none;
  color: #438eff;
  text-align: center;
  width: 100%;
}
.share .row a img{
  padding: 30px 0px;
}
.share img{
  width:100%;
  padding: 5px;
}
.section-content{
  position: relative;
}
.edit{
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}
.edit>div img{
  cursor: pointer;
  width: 60%;
  position: absolute;
}
.desc-btn{
  width: 100%;
  text-align: center;
}
.desc-btn button{
  background: none;
  color: #333;
}
.contact-bn{
  padding: 40px;
  background-image: url('../img/consContactBg.jpg');
  color:#f5f5f5;
}
.contact-btn{
  background-color: rgba(22, 115, 255, 0.61);
  padding: 20px;
  margin-top: 10%;
  font-weight: lighter;
  font-size: 2em;
}
/*Content*/
/*End Consultant*/

/*Customer Page*/
  .cutomer-btn{
    margin-top: 30px;
  }

/*End Customer Page*/
.customer-recomended-consultants{
  text-align: center;
  margin-top: 30px;
}
.customer-recomended-consultants img{
  width: 60%;
  margin: 0 auto;
}
.customer-recomended-consultants>div{
  padding: 5px;
}
.receomended-btn{
  margin-top: 6px;
  background: none;
  color: #286090;
}
/*Footer*/
footer{
  display: block;
  background-color: #3399ff;
  box-shadow: inset 0px 6px 9.4px 0.6px rgba(1, 1, 1, 0.43);
}
footer li a{
  color: #f5f5f5;
}
#footer-newsletter{
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 60px;
  padding: 5%;
  border: none;
  outline: none;
}
footer #social-links{
  margin: 15px 0px;
  padding: 0;
}
footer #social-links li{
  width: 20%;
}
footer #social-links img{
  width: 70%;
}
footer .footer-nav{
  text-align: center;
  line-height: 40px;
}
footer .footer-nav li{
  padding: 0px 20px;
}
footer .footer-nav li a:hover{
  color: #efefef;
}
footer .copyright{
  background-color: #3333cc;

}
footer .copyright p{
  line-height: 40px;
  margin: 0;
  text-align: center;
  color: #efefef;
}
